<div class="product">
    <section class="product_banner py-5">
        {{#each product}}
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="img/{{ image }}" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1"> {{ _id }} </div>
                    <h1 class="display-5 fw-bolder"> {{ name }} </h1>
                    <div class="fs-5 mb-5">
                        <span> $ {{ price }}  </span>
                    </div>
                    <p class="lead"> {{ description }} </p>
                    <div class="d-flex justify-content-center">
                        <form action="/addCart?_method=PUT" method="POST">
                            {{#if ../user}}
                            <input type="hidden" name="userId" value="{{../user}}">
                            {{/if}}
                            <input type="hidden" name="productId" value="{{_id}}">
                            <button class="btn btn-dark flex-shrink-0" type="submit"><i class="bi-cart-fill me-1"></i> Añadir al carrito </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </section>
</div>